---
import AboutSection from "./sections/AboutSection.astro";
import AchievementsSection from "./sections/AchievementsSection.astro";
import ArticleSection from "./sections/ArticleSection.astro";
import CaseStudyDetailSection from "./sections/CaseStudyDetailSection.astro";
import CodingSection from "./sections/CodingSection.astro";
import ContactSection from "./sections/ContactSection.astro";
import DesignSection from "./sections/DesignSection.astro";
import ErrorSection from "./sections/ErrorSection.astro";
import HelloSection from "./sections/HelloSection.astro";
---

<main id="main">
  <HelloSection />
  <AboutSection />
  <AchievementsSection />
  <CodingSection />
  <DesignSection />
  <ContactSection />
  <ErrorSection />
  <CaseStudyDetailSection />
  <ArticleSection />
</main>
